<h1>Dino Liste </h1>
<table>
  <colgroup>
    <col width="100">
    <col height="45">
  </colgroup>

  <thead>
  <tr>
    <th>Dino </th>
    <th>Gefangen </th>
    <th>Noch was?</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Dodo </td>
    <td>Ja </td>
    <td>Renn-Dodos sind nice</td>
  </tr>
  <tr>
    <td>Deinoichus </td>
    <td>Ja </td>
    <td>Drillinge</td>
  </tr>
  </tbody>
</table>
